
<div class="center jumbotron mb-5">
  <div class="text-center">
     <h1>我が家のレシピへようこそ！</h1>
     <h4>みんなで得意なレシピをシェアして<br>
        　毎日のご飯づくりを楽にしませんか？</h4>
  </div>
</div>
<p>検索</p>
<%= form_tag(root_url,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :title => nil %>
<% end %>

  <%= render 'posts/posts', posts: @posts%>
