<div class="row">
  <div class="card-deck" style="width:60rem">
    <% posts.each do |post| %>
      <div class="col-sm-4">
        <div class="card bg-light mb-5" style="width: 16rem; height: 28rem;">
          <img class="card-img-top" src="<%= post.image %>" alt="Card image cap">
          <div class="card-body">
            <h5><%= link_to post.title, post %></h5>
          </div>
          <div class="card-footer">
            <%= render 'favorites/like_button', post: post if logged_in? %>
          </div>
        </div>
      </div>
    <% end %>
  </div> 
  <%= paginate posts %>  
</div>

